<div>
  <br>
  <br>
  <form ng-submit="getPictures(location)">
    <input type="text" ng-model="location" placeholder="Enter a location">
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <div ng-repeat="picture in pictures">
    <p> {{ picture.title }} </p>
    <img style="{width: 100px; height: 100px}" ng-src="https://farm{{ picture.farm }}.staticflickr.com/{{ picture.server }}/{{ picture.id }}_{{ picture.secret }}.jpg" />
  </div>

</div>
<!-- 
https://farm' + item.farm + '.staticflickr.com/' + item.server + '/' + item.id + '_' + item.secret + '.jpg'; -->
  